@tailwind base;
@tailwind components;
@tailwind utilities;








.wireframe {
  /* position: fixed; */
  inset: 0;
  z-index: -1;
  background-image:
  

    linear-gradient(rgba(20, 87, 153, 0.199) 1px, transparent 1px),
    linear-gradient(90deg, rgba(8, 29, 124, 0.219) 1px, transparent 1px);
  background-size: 45px 40px; /* menor */
}

.card {
  transition: background-color, 0.3s ease-in-out;
  
}



body {
  background-color: rgb(2, 11, 39);
}







/* From Uiverse.io by adamgiebl */ 
#container {
  width: 100%;
  height: 100%;
  --color: #05182c;
  background-color: #041222;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 85px 90px;
}




.icon {
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease;
}




.icon:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}

/* largura */
::-webkit-scrollbar {
  width: 6px;
}

/* fundo */
::-webkit-scrollbar-track {
  background: #111;
}

/* barra */
::-webkit-scrollbar-thumb {
  background: #1988e8;
  border-radius: 10px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}



.bg-layer {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(255,212,0,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,212,0,0.03) 1px, transparent 1px);
  background-size: 60px 60px;
  z-index: 1;
}











